/* .compoBack { */
    /* padding: 20px; */
    /* display: none; */
    /* box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15); */
    /* -webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15); */
    /* -moz-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15); */
    /* margin-bottom: 20px; */
    /* text-align: center; */
    /* margin: auto; */
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
    /* height: 400px; */
/* } */
/* .compoBack div{
    height: 100%;
}

.compoBack img {
    height: 100%;
}

.imgContainer{
    display: block;
    width: 100%;
} */

/* 
@media screen and (max-width: 580px) {
    .compoBack{
        min-width: 0px;
    }
} */
 

