.productContainer{
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.1);
    padding: 40px 10px;
    border: 5px solid #ebebeb;
}