.ourProductDiv {
    padding: 30px 0px;
    background-color: #f7f7f7;
}

.ourProductDiv h1 {
    font-family: 'Playfair Display';
    text-align: center;
    margin: 20px 0px;
}

.smallProductContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}